<div class="row justify-content-center ">
  <div class="col-md-7 col-lg-5">
    <div class="wrap">
      <div class="login-wrap p-4 p-md-1">
        <%= form_with(model: @order, url: orders_path, local: true) do |form| %>
          <h2 class="tw tc">
            <span class="rounded bg-text">
              Order Details
            </span>
          </h2>
          <%= form.fields_for :order_detail do |order_detail_form| %>
            <div class="form-floating">
              <%= order_detail_form.text_field :first_name, class: "form-control" %>
              <%= order_detail_form.label :first_name, "First name", class: "form-control-placeholder" %>
            </div>

            <div class="form-floating">
              <%= order_detail_form.text_field :last_name, class: "form-control" %>
              <%= order_detail_form.label :last_name, "Last name", class: "form-control-placeholder" %>
            </div>

            <div class="form-floating">
              <%= order_detail_form.text_field :email, class: "form-control" %>
              <%= order_detail_form.label :email, "Email", class: "form-control-placeholder" %>
            </div>
          <% end %>
          <%= form.fields_for :address_attributes do |address_form| %>
            <div class="form-floating">
              <%= address_form.text_field :country, class: "form-control" %>
              <%= address_form.label :country, "Country", class: "form-control-placeholder" %>
            </div>
            <div class="form-floating">
              <%= address_form.text_field :city, class: "form-control" %>
              <%= address_form.label :city, "Email", class: "form-control-placeholder" %>
            </div>
            <div class="form-floating">
              <%= address_form.text_field :street, class: "form-control" %>
              <%= address_form.label :street, "Street", class: "form-control-placeholder" %>
            </div>
            <div class="form-floating">
              <%= address_form.text_area :comment, class: "form-control" %>
              <%= address_form.label :comment, "Comment", class: "form-control-placeholder" %>
            </div>
          <% end %>
          <div class="form-floating tc">
            <%= form.submit "Create", class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
