
<div class="container py-5">
  <div class="row">
    <% @category.products.each do |product| %>
      <div class="col-md-12 col-lg-3 mb-4 mb-lg-0">
        <div class="card" style="background-color: rgba(67, 65, 65, 0.5);">
          <div class="d-flex justify-content-between p-3">
            <%= image_tag product.name, class: "card-img-top" %>
          </div>

          <div class="card-title">
            <div class="card-body" style="height: 100px; width: 100%;">
              <div class="d-flex justify-content-center">
                <p class="lead mb-0 text-white"><%= product.name %> - <%= product.price %> ₴</p>
              </div>

              <div class="d-flex justify-content-center">
                <%= link_to "more", product, class: "text-white text-decoration-none" %>
              </div>

              <div class="d-flex justify-content-center">
                <%= button_to "Add to cart", carts_path(:product_id => product.id), class: "btn btn-success me-2" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
